<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MovieGuessr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="../../static/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body style="background-color: #1c2027;">
    <div id="join-Game"><button class="btn btn-primary" type="joinGame" style="color: #dbdcb7;">I want to join a game</button></div>
    <div id="create-Game">
        <h1>Create a game</h1>
        <select id="genreSelect" style="opacity: 1;"><optgroup label="genres">
            <option id="adventureOption" value="12" >Adventure</option>
            <option id="animationOption" value="13" >Animation</option>
            <option id="comedyOption" value="14" >Comedy</option>
            <option id="dramaOption" value="15" >Drama</option>
            <option id="fantasyOption" value="16" >Fantasy</option>
            <option id="horrorOption" value="17" >Horror</option>
            <option id="mysteryOption" value="18" >Mystery</option>
            <option id="romanceOption" value="19" >Romance</option>
            <option id="scifiOption" value="20" >Sci-Fi</option>
            <option id="warOption" value="21" >War</option>
        </optgroup>
        </select>
    </div>
    <div id="create-button"><button class="btn btn-primary" id="createGame" type="button" onclick="window.location.pathname = '/game/' + makeid(5) + '/' ">Create Game</button></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/game.js"></script>
 <script>
     function makeid(length) {
         var result = '';
         var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
         var charactersLength = characters.length;
         for (var i = 0; i < length; i++) {
             result += characters.charAt(Math.floor(Math.random() * charactersLength));
         }
         return result;
     }
 </script>
</body>

</html>