<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MovieGuessr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="../../static/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
    <div id="navbar">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="#">MovieGuessr</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Leaderboards</a></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">More</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Create Game!</a><a class="dropdown-item" role="presentation" href="#">Find User</a><a class="dropdown-item" role="presentation" href="#">Help</a></div>
                        </li>
                    </ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span></div>
            </div>
        </nav>
    </div>
    <div id="intro">
        <div class="jumbotron">
            <h1 style="color: #DBDCB7;">Can you guess them all?</h1>
            <p style="color: #DBDCB7;">Whether you're a Film Fanatic or Binge-Watcher,</p>
            <p style="color: #DBDCB7;">test your movie knowledge on MovieGuessr, and sign up to see how you rank on the leaderboard and compete against your freinds!</p>
            <p><a class="btn btn-primary" role="button">Sign Up</a></p>
        </div>
    </div>
    <div id="Genres">
        <div id="fantasy">
            <h4 style="color: #DBDCB7;">Fantasy</h4><a class="genreImg" href="/game"><img id="fantasyImg"  href=""></a></div>
        <div id="drama">
            <h4 style="color: #DBDCB7;">Drama</h4><a class="genreImg" href=""><img id="dramaImg"  href=""></a></div>
        <div id="comedy">
            <h4 style="color: #DBDCB7;">Comedy</h4><a class="genreImg" href=""><img id="comedyImg"  href=""></a></div>
        <div id="animation">
            <h4 style="color: #DBDCB7;">Animation</h4><a class="genreImg" href=""><img id="animationImg" href=""></a></div>
        <div id="action">
            <h4 style="color: #DBDCB7;">Adventure</h4><a class="genreImg" href=""><img id="adventureImg" href=""></a></div>
    </div>
    <div id="Genres2">
        <div id="war">
            <h4 style="color: #DBDCB7;">War</h4><a class="genreImg" href=""><img id="warImg"  href=""></a></div>
        <div id="sci-fi">
            <h4 style="color: #DBDCB7;">Sci-Fi</h4><a class="genreImg" href=""><img id="scifiImg"  href=""></a></div>
        <div id="romance">
            <h4 style="color: #DBDCB7;">Romance</h4><a class="genreImg" href=""><img id="romanceImg"  href=""></a></div>
        <div id="mystery">
            <h4 style="color: #DBDCB7;">Mystery</h4><a class="genreImg" href=""><img id="mysteryImg"  href=""></a></div>
        <div id="horror">
            <h4 style="color: #DBDCB7;">Horror</h4><a class="genreImg" href=""><img id="horrorImg"  href=""></a></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/test.js"></script>
    <script src="../../static/js/game.js"></script>
</body>

</html>